<h2><span style="text-decoration: underline;"><span style="background-color: #ccffff;">外文系56级入学60周年特刊</span></span></h2>
<p><span style="background-color: #ccffff;"><strong>光阴似箭，弹指一挥间。经历了60年的风风雨雨，昔日风华正茂的青年学生如今都已步入老年。回首过去，大学五年的同窗生活，似乎历历在目。我们毕业的时候没有聚餐，没有晚会，仅有的只是一张黑白的集体合影。让我们通过这张珍贵的照片、通过这份网上特刊所提供的各位同学的资料重温一张张似乎熟悉、但又有些陌生的脸庞，从依稀的记忆中想起当年的同学情谊。尽管我们如今分散在天南地北和大洋彼岸，虽然无法再相聚在一起，但是通过特刊可以了解大家毕业后的人生历程。希望这种同窗之情能成为一泓清泉，滋润我们的心灵!</strong></span></p>
<table>
<tbody>
<tr>
<td><strong>名字</strong></td>
<td><strong>网页网址</strong></td>
</tr>
<tr>
<td>黄伟嘉</td>
<td><a href="www.alibaba.com">请按这里 </a></td>
</tr>
<tr>
<td>朱炯强</td>
<td><a href="www.alibaba.com">请按这里 </a></td>
</tr>
<tr>
<td>沈子文</td>
<td><a href="www.alibaba.com">请按这里 </a></td>
</tr>
<tr>
<td>杨张基</td>
<td><a href="www.alibaba.com">请按这里 </a></td>
</tr>
<tr>
<td>姜树东</td>
<td><a href="www.alibaba.com">请按这里 </a></td>
</tr>
<tr>
<td>邓叔埜</td>
<td><a href="www.alibaba.com">谭中行 </a></td>
</tr>
<tr>
<td>龚 平</td>
<td><a href="www.alibaba.com">请按这里 </a></td>
</tr>
<tr>
<td>刘泽玺</td>
<td><a href="www.alibaba.com">请按这里 </a></td>
</tr>
<tr>
<td>赵 守 垠</td>
<td><a href="www.alibaba.com">请按这里 </a></td>
</tr>
<tr>
<td>孙 椿 海</td>
<td><a href="www.alibaba.com">请按这里 </a></td>
</tr>
<tr>
<td>史济华</td>
<td><a href="www.alibaba.com">请按这里 </a></td>
</tr>
<tr>
<td>回到主页</td>
<td><a href="www.alibaba.com">请按这里 </a></td>
</tr>
</tbody>
</table>
<p><img src="https://static.wixstatic.com/media/52c057_0d0f5efac1654b3a89e9288ab9e2a83f~mv2_d_4015_1688_s_2.jpg/v1/fill/w_928,h_388,al_c,q_90/52c057_0d0f5efac1654b3a89e9288ab9e2a83f~mv2_d_4015_1688_s_2.webp" /></p>
<p><span style="background-color: #ffff99;">第四排：平广耀 陈孝模 高振宇 黄贻南 虞开泰 何福荣 赵守垠 吕菊林 沈国强 邹国藩 尤振发 姜树东 朱恒耀 周正坤</span></p>
<p><span style="background-color: #ffff99;"> 第三排：邓叔野 谭中行 杨张基 张仲仁 龚 平 唐庆民 吕林芳 黄伟嘉 陈新一 张绍麒 刘泽玺 王沂清 沈子文 陈锡麟 朱炯强 </span></p>
<p><span style="background-color: #ffff99;">第二排：徐磊 朱宝琳 （佚名）葛传規 徐志诚 徐常太 杨岂深 郝孚逸 林同济 曹又霖 袁晚禾 薛诗绮 吴敬澄 </span></p>
<p><span style="background-color: #ffff99;">第一排：孙椿海 朱海伦 郦慈沁 胡木疑 林淑仪 胡 敏 楼凤英 陈颖卓 史济华 陈良沾</span></p>